.content-table{
    padding: 2rem;
}

.card-body {
    padding: 2rem !important;
}


.ant-input-group-wrapper {
    width: 250px !important;
}
.ant-input-search input{
    height: 55px;
    background-color: rgba(255, 255, 255, 0.415) !important;
    border: 1px solid #56606a;
    color: black;
    font-size: 17px;
    border-radius: 5px;
}
.ant-input-search input:hover{
    border: 1px solid #56606a !important;
}

.ant-input-search input:focus{
    border-color:  #7a8793 !important;
    box-shadow: 0 0 0 2px rgba(96, 99, 101, 0.2); 
}


.ant-input-search button{
    height: 55px;
    width: 60px;

    background-color: #fff;
    border: 1px solid #56606a;
    color: black;
    font-size: 17px;
    border-radius: 5px;
}

.ant-input-search button:hover{
    border: 1px solid #56606a !important;
}

.ant-input-search button:focus{
    border-color:  #7a8793 !important;
    box-shadow: 0 0 0 2px rgba(96, 99, 101, 0.2); 
}


 .ant-table-row .anticon {
    font-size: 25px;
    font-weight: 700;
    border-radius: 5px !important;
}

.ant-table-row .anticon:hover {
    font-size: 33px !important;
    -webkit-box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.7); 
    box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.7);
}

.btn-them:hover{
    border: 3px solid  gray !important;
    padding: 10px !important;
}

.btn-them{
    border: 3px solid  white !important;
    background-color: #500aac !important;
    border-radius: 15px!important;
    transition: .2s !important;
    color: white;
    font-weight: 500;
    height: 55px !important;
    padding: 70px;
    font-size: 17px;
    width: 13rem;

}

.anticon {
    transition: 0.1s;
    
}


.btn-them:hover{
    -webkit-box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.7); 
    box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.7);
}


.conHang{
    background-color: rgb(145, 247, 145);
    padding: 7px 10px;
    width: 75%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.conHang p {
    margin: 0;
    color: black;
}

.hetHang{
    background-color: rgb(246, 154, 154);
    padding: 7px 10px;
    width: 75%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.hetHang p {
    margin: 0;
    color: black;
}